.menuSuperior
{
    width:100%;
    background-color: #333;
}

.menuSuperior ul
{
    list-style-type: none;
    margin: 0 5% 0 0;
    padding: 0;
    overflow: hidden;
}
.menuSuperior li
{
    float:  right;
}

.menuSuperior li a 
{
    font-family: monospace;
    font-size: 1.6em;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menuSuperior li a:hover
{
    background-color: #111;        
}

.logo
{
    font-family: sans-serif;
    color: white;
    width:20%;
    height: 46px;
    position: absolute;
    left: 5%;
    right: inherit;
    background-image:url(../Imagens/Logo/SpotifyLogo.png); 
    background-size: contain;
    background-repeat: no-repeat;
}

  